body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px; /* Максимальна ширина контейнера */
  margin: 0 auto;    /* Центрування по горизонталі */
  padding: 0 64px;   /* Відступи зліва і справа */
  box-sizing: border-box; /* Враховує padding у ширині */
}

nav .active {
  color: #D84343;
}

nav .nested-link.active {
  color: #101828;
  border-bottom: #E44848 5px solid;
  padding-bottom: 22px;
}