.banner {
    height: calc(100vh - 72px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./banner.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content {
    padding-left: 64px;
    color: #FFFFFF;
}

.title {
    font-weight: 600;
    font-size: 48px;
}

.text {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 40px;
}


